@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

:root {
  --background: #333842;
  --name: #FFD866;
  --obj-background: #2E323C;
  --site: #78DCE8;
  --hover: #AB9DF2;
  --shadow: #26292C;
}

html,body {
  font-family: 'Fira Code', monospace;
  background: var(--background);
  color: var(--name);
  font-size: 1.1em;
  font-weight: 500;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 90vw;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 0;
}

.flex-container {
  margin: 200px 0px;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.obj {
  padding: 40px 35px;
  margin: 10px 20px;
  font-weight: bold;
  font-size: 1.5em;
  background-color: var(--obj-background);
  text-align: center;
  box-shadow: 0px 5px 4px 0 var(--shadow);
}

.sub {
  display: none;
  margin-top: 10px;
  font-weight: normal;
  font-size: 0.8em;
}

.obj:hover .sub {
  display: block;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: var(--site);
}

a:hover {
  color: var(--hover);
  transition-duration: 0.5s;
}

@media screen and (max-width: 1500px) {
  body {
    font-size: 1em;
  }

  .container {
    padding: 25px 50px;
  }
}
