[Unit]
Description=GnuPG cryptographic agent (ssh-agent emulation)
Documentation=man:gpg-agent(1) man:ssh-add(1) man:ssh-agent(1) man:ssh(1)

[Socket]
ListenStream=/run/user/1001/gnupg/d.ipbgxpodmdn7oycax45uc7bk/S.gpg-agent.ssh
FileDescriptorName=ssh
Service=gpg-agent-ssh.service
SocketMode=0600
DirectoryMode=0700

[Install]
WantedBy=sockets.target
